

nav {
  height: 100px;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 12px;
}

.nav_link--list {
  display: flex;
}

.nav_link--anchor {
  margin: 0 12px;
  color: #242424;
  text-decoration: none;
  font-weight: 700;
}

.nav_link--anchor-primary {
  background-color: #96bf48;
  padding: 8px 20px;
  border-radius: 50px;
  color: white;
  transition: all 300ms ease;
}

.nav_link--anchor-primary:hover {
  background-color: #a1e126;
}

.personal_logo {
  font-size: 24px;
  color: #63942e;
  margin: 0 12px;
  font-weight: bold;
}

a {
  text-decoration: none;
  position: relative;
  transition: opacity 300ms ease;
}

.link_hover-effect:after {
  content: "";
  position: absolute;
  height: 3px;
  width: 0;
  bottom: -3px;
  left: 0;
  transition: all 300ms ease;
}

.link_hover-effect--white:after {
  background-color: white;
}

.link_hover-effect--black:after {
  background-color: black;
}

.link_hover-effect:hover:after {
  width: 100%;
  left: 0;
}

li {
    list-style-type: none;
  }
  